.guessMode {
  right: 3em;
  top: 3em;
  width: 17em;
  height: 10em;
  position: absolute;
  display: flex;
  flex-direction: column;
}

.guessMode--button {
  margin: 1.25em 0 1em 0;
  width: 60%;
  height: 2em;
  border-radius: 5px;
  border: none;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
  align-self: center;
  cursor: pointer;
  transition: all 0.15s;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  padding: 0.25em;
}

.guessMode--button:hover {
  background-color: rgb(212, 226, 238);
}

.guessMode--button:active {
  background-color: black;
  color: rgb(212, 226, 238);
}

.guessMode--frame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.75em;
  background-color: #834444;
  padding: 1em;
  border-radius: 10px;
}

.guessMode--currentScore {
  text-align: center;
  width: 30%;
  color: rgb(255, 237, 196);
  font-weight: bold;
}

.guessMode--input_bar {
  display: flex;
  border-radius: 10px;
  overflow: hidden;
}

.guessMode--input_bar input {
  border: none;
  border-radius: 0;
  font-family: "Times New Roman", Times, serif;
  padding: 0.25em 0.5em;
}

.guessMode--submit {
  background-color: black;
  border: none;
  color: white;
  padding: 0.25em 0.5em;
  font-family: "Times New Roman", Times, serif;
  cursor: pointer;
}

.guessMode--first_line {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 0.5em;
}

.guessMode--difficulty_counts {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25em;
  width: 35%;
}

.guessMode--difficulty_counts div {
  border-radius: 100px;
  line-height: 1.5em;
  width: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.guessMode--difficulty_hard {
  background-color: #a0251c;
  color: white;
}

.guessMode--difficulty_medium {
  background-color: #a87c0b;
  color: white;
}

.guessMode--difficulty_easy {
  background-color: rgb(88, 172, 77);
  color: black;
}

.guessMode--streak_container {
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: flex-start
}

.guessMode--streak {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2em;
  width: 2em;
  position: relative;
}

.guessMode--streak_count {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-weight: bold;
  z-index: 1000;
}

.guessMode--streak img {
  height: 100%;
  opacity: 0.85;
}

.guessMode--comment {
  padding: 0 0.5em;
  text-align: center;
}

@media (max-width: 1200px) {
  .guessMode {
    left: 50%;
    transform: translate(-50%, 0);
    top: 1em;
    width: 17em;
    height: 10em;
    position: absolute;
    display: flex;
    flex-direction: column;
  }

  .guessMode--frame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    background-color: #834444;
    padding: 0.25em;
    border-radius: 10px;
  }
}
